@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

.a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 500px;
  margin: 100px 20px 20px;
}

.card {
  padding: 0 2%;
}

@media(min-size:600px)
{
    .card{
        width:50%;
    }
}
.menucontent {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menucontent::before, .menucontent::after {
  content: '';
  display: table;
}
.menucontent::after {
  clear: both;
}
.menucontent li {
  display: inline-block;
}

.menucontent span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.content {
  padding: 1em;
  position: relative;
  z-index: 1;
  color: #040605;
}
.author {
  font-size: 12px;
}
.title {
  margin-top: 10px;
}
.text {
  height: 70px;
  margin: 0;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox']:checked + .menucontent {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}


.date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  color: #fff;
  padding: 0.2em;
}
.date span {
  display: block;
  text-align: center;
}
.day {
  font-weight: 700;
  font-size: 24px;
  text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}
.month {
  text-transform: uppercase;
}
.month,
.year {
  font-size: 12px;
}
.content {
  background-color: #fff;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.title a {
  color: black;
}
.menubutton {
  position: absolute;
  z-index: 9999;
  top: 16px;
  right: 16px;
  width: 25px;
  text-align: center;
  cursor: pointer;
}
.span {
  width: 5px;
  height: 5px;
  background-color: black;
  color: gray;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.menubutton span::after, .menubutton span::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: currentColor;
  position: absolute;
  border-radius: 50%;
}
 .menubutton span::before {
  left: -10px;
}
 .menubutton span::after {
  right: -10px;
}
 .menucontent {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
 }
 .menucontent li {
  width: 33.333333%;
  float: left;
  background-color: #040605;
  height: 30px;
  position: relative;
}
.menucontent a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
}
.menucontent span {
  top: -10px;
}

.example-2 .wrapper {
  background: url(https://tvseriescritic.files.wordpress.com/2016/10/stranger-things-bicycle-lights-children.jpg) center/cover no-repeat;
}
.example-2 .wrapper:hover .menucontent span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.header::before, .example-2 .header::after {
  content: '';
  display: table;
}
.header::after {
  clear: both;
}
.header .date {
  float: left;
  font-size: 12px;
}
.menucontent {
  float: right;
}
.menucontent li {
  margin: 0 5px;
  position: relative;
}
.menucontent span {
  transition: all 0.3s;
  opacity: 0;
}
.data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 4em));
          transform: translateY(calc(70px + 4em));
}
.title a {
  color: grey;
  text-decoration: none;
}
.button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}
